<!DOCTYPE html>
<html lang="en">
    
<%- include('partials/head') %>
   
<body class="productAdd">
    
    <%- include('partials/header') %>

    <main class="container">

            <div class="class-row">

                <div class="col-12 col-lg-10 mx-auto mt-5">

                    <div class="card shadow">

                        <div class="crad-header">
                            <a class="btn btn-outline-dark" href="/products/add">Nuevo Producto</a>
                        </div>                        
                        
                        <div class="card-body">

                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Productos</button>
                                </li>
                                
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Usuarios</button>
                                </li>
                                
                              </ul>
                              <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                                    <!--Inicia tabla producto-->
                                    <%- include('partials/tableProducts', { products }) %>
                                    
                                    <!--Finaliza tabla producto-->
                                </div>

                                <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
                                    <!--Inicia tabla Usuarios-->
                                    <div>
                                        Todos los usuarios
                                    </div>
                                    <!--Finaliza Tabla Usuarios-->
                                </div>
                                
                              </div>

                        </div>


                          
                    </div>

                </div>
                
            </div>

    </main>

    <%- include('partials/footer') %>

    <%- include('partials/script') %>
    
</body>
</html>