<!DOCTYPE html>
<html lang="en">

<!--Head-->

<%- include('partials/head') %>

<body class="home">
    
    <!--Header-->

    <%- include('partials/header') %>

    <main class="home__main">

        <!--BANER FIJO-->

        
<!-- BENNERE Swiper -->
<div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="/img/auto1.jpg" alt=""></div>
      <div class="swiper-slide"><img src="/img/auto2.jpg" alt=""></div>
      <div class="swiper-slide"><img src="/img/auto3.jpg" alt=""></div>
      <div class="swiper-slide"><img src="/img/plano1.jpg" alt=""></div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
 
   
    <div class="home__main__section--products">

<% products.forEach(({title, description, id, image}) => { %>

      <article class="home__main__section__article" data-aos="zomm-in-right" data-aos-duration="500">
          <div class="home__main__section__article--box">
              <img class="home__main__section__article--image" src="/img/products/<%= image ? image : 'fideo.jpg' %>" alt="producto-1">
              
          </div>
          <h4 class="home__main__section__article--title"><%= title %></h4>
          
          <a class="home__main__section__article--more" href="/products/detail/<%= id %>">ver màs</a>
      </article>

  


  <% }) %>
</div>
        

        <section class="carrusel-ensaladas">

            <div class="swiper mySwiper2">
                <div class="swiper-wrapper">
                  
                  <div class="swiper-slide">
                    <div class="card">
                      <a href="/detalle-producto"><img class="card-img-top" src="/img/Logopng.png" alt=""></a>
                      <div class="card-body">
                                          
                      </div>
                    </div>
                  </div>


                  <div class="swiper-slide">
                    <div class="card">
                      <a href="/detalle-producto"><img class="card-img-top" src="/img/auto1.jpg" alt=""></a>
                      <div class="card-body">
                        
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="card">
                      <a href="/detalle-producto"><img class="card-img-top" src="/img/auto2.jpg" alt=""></a>
                      <div class="card-body">
                       
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="card">
                      <a href="/detalle-producto"><img class="card-img-top" src="/img/tacos.jpg" alt=""></a>
                      <div class="card-body">
                        
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="card">
                      <a href="/detalle-producto"><img class="card-img-top" src="/img/tacos2.jpg" alt=""></a>
                      <div class="card-body">
                                          
                      </div>
                    </div>
                  </div>
                    
                  <div class="swiper-slide">
                    <div class="card">
                      <a href="/detalle-producto"><img class="card-img-top" src="/img/tacos3.jpg" alt=""></a>
                      <div class="card-body">
                                          
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="card">
                      <a href="/detalle-producto"><img class="card-img-top" src="/img/tacos4.jpg" alt=""></a>
                      <div class="card-body">
                                          
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="card">
                      <a href="/detalle-producto"><img class="card-img-top" src="/img/tacos5.jpg" alt=""></a>
                      <div class="card-body">
                                          
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="card">
                      <a href="/detalle-producto"><img class="card-img-top" src="/img/tacos6.jpg" alt=""></a>
                      <div class="card-body">
                                          
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="card">
                      <a href="/detalle-producto"><img class="card-img-top" src="/img/tacos7.jpg" alt=""></a>
                      <div class="card-body">
                                          
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="card">
                      <a href="/detalle-producto"><img class="card-img-top" src="/img/Logopng.png" alt=""></a>
                      <div class="card-body">
                                          
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="swiper-pagination"></div>
              </div>

        </section>
        <!--<a class="home__main--wasap" href=""><img width="15%" src="/img/wasap.png" alt=""></a>-->
    </main>

    <!--Footer-->

    <%- include('partials/footer') %>

    <%- include('partials/script') %>
    
</body>

</html>