<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

  <body class="productAdd">
    <%- include('partials/header') %>

      <main class="container">
        <div class="row">
          <div class="col-12 col-md-8 mx-auto mt-5">
            <div class="card shadow">
              <div class="card-header">
                <h4 class="card-title">Agregar producto</h4>
              </div>
              <div class="card-body">
                <form action="" method="POST" class="row" enctype="multipart/form-data">
                 
                  <div class="col-12 col-md-6 mb-3">
                    <label for="title" class="form-label">Título</label>
                    <input type="text" class="form-control <%= locals.errors && (errors.title && 'is-invalid') %>"
                      id="title" placeholder="Título del producto" name="title"
                      value="<%= locals.old && (old.title && old.title ) %>" />

                    <small class="text-danger ms-2">
                      <%= locals.errors && (errors.title && errors.title.msg) %>
                    </small>
                  </div>

                  <div class="col-12 col-md-6 mb-3">
                    <label for="funcion" class="form-label">Funcion</label>
                    <input type="text" class="form-control <%= locals.errors && (errors.funcion && 'is-invalid') %>"
                      id="funcion" placeholder="Funcionalidad" name="funcion"
                      value="<%= locals.old && (old.funcion && old.funcion ) %>" />

                    <small class="text-danger ms-2">
                      <%= locals.errors && (errors.funcion && errors.funcion.msg) %>
                    </small>
                  </div>

                  <div class="col-12 col-md-4 mb-3">
                    <label for="peso" class="form-label">Peso</label>
                    <input type="number" class="form-control <%= locals.errors && (errors.peso && 'is-invalid') %>"
                      id="peso" name="peso" value="<%= locals.old && (old.peso && old.peso ) %>" />
                    <small class="text-danger ms-2">
                      <%= locals.errors && (errors.peso && errors.peso.msg) %>
                    </small>

                  </div>


                  <div class="col-12 col-md-4 mb-3">
                    <label for="modelo" class="form-label">Modelo</label>
                    <input type="text" class="form-control" id="modelo" name="modelo" />
                  </div>


                  <div class="col-12 mb-3">
                    <label for="description" class="form-label">Descripción</label>
                    <textarea name="description" id="description"
                      class="form-control <%= locals.errors && (errors.description && 'is-invalid') %>"
                      style="resize: none"><%= locals.old && (old.description && old.description ) %></textarea>
                    <small class="text-danger ms-2">
                      <%= locals.errors && (errors.description && errors.description.msg) %>
                    </small>

                  </div>


                  <div class="col-12 d-flex justify-content-end gap-2 mb-3">
                    <small class="text-danger ms-2">
                      <%= locals.errors && (errors.image && errors.image.msg) %>
                    </small>
                    <label for="image" class="btn <%= (locals.errors && errors.image) ? 'btn-danger' : 'btn-secondary' %>">Imagen principal</label>
                    <input type="file" name="image" id="image" hidden />
                    <label for="images" class="btn btn-secondary">Imágenes</label>
                    <input type="file" multiple name="images" id="images" hidden />
                    <button class="btn btn-dark">Guardar cambios</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </main>
      <%- include('partials/footer') %> <%- include('partials/script') %>
  </body>

</html>